contrib/System_Object.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- CybOX V1 System Object Schema. Copyright (c) 2011, The MITRE Corporation. http://cybox.mitre.org -->
<xs:schema xmlns:SystemObj="http://cybox.mitre.org/XMLSchema/objects#SystemObject"
	xmlns:AddressObj="http://cybox.mitre.org/XMLSchema/objects#AddressObject"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cybox="http://cybox.mitre.org/XMLSchema/cybox_v0.7"
	targetNamespace="http://cybox.mitre.org/XMLSchema/objects#SystemObject"
	xmlns:Common="http://cybox.mitre.org/XMLSchema/objects#Common" elementFormDefault="qualified"
	attributeFormDefault="unqualified" version="1.1">
	<xs:import namespace="http://cybox.mitre.org/XMLSchema/cybox_v0.7"
		schemaLocation="http://cybox.mitre.org/XMLSchema/CybOX_v0.7.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/XMLSchema/objects#Common"
		schemaLocation="http://cybox.mitre.org/XMLSchema/objects/Common_Types.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/XMLSchema/objects#AddressObject"
		schemaLocation="http://cybox.mitre.org/XMLSchema/objects/Address_Object.xsd"/>
	<xs:element name="System" type="SystemObj:System_Object_Type" nillable="true">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="System_Object_Type" mixed="false">
		<xs:annotation>
			<xs:documentation>The System_Object_Type type is intended to characterize computer systems (as a combination of both software and hardware).</xs:documentation>
		</xs:annotation>
		<xs:complexContent mixed="false">
			<xs:extension base="cybox:DefinedObjectType">
				<xs:sequence>
					<xs:element name="Available_Physical_Memory"
						type="cybox:UnsignedLongObjectAttributeType" nillable="true" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Available_Physical_Memory element specifies the amount of physical memory available on the system, in bytes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BIOS_Info" type="SystemObj:BIOS_Info_Type" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The BIOS_Info element specifies information about the BIOS on the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="cybox:DateObjectAttributeType" nillable="true"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Date element specifies the current date on the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Hostname" type="cybox:StringObjectAttributeType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Hostname element specifies the hostname of the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Local_Time" type="cybox:TimeObjectAttributeType">
						<xs:annotation>
							<xs:documentation>The Local_Time element specifies the local time on the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Network_Interface_List"
						type="SystemObj:Network_Interface_List_Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Network_Interface_List element specifies the list of network interfaces present on the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OS" type="SystemObj:OS_Type" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The OS element specifies information about the operating system installed on the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Processor" type="cybox:StringObjectAttributeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Processor element specifies the name of the CPU used by the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Processor_Architecture"
						type="SystemObj:Processor_Arch_Type">
						<xs:annotation>
							<xs:documentation>The Processor_Architecture element specifies the specific architecture (e.g. x86) used by the CPU of the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="System_Time"
						type="cybox:TimeObjectAttributeType">
						<xs:annotation>
							<xs:documentation>The System_Time element specifies the system, or hardware, time on the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Timezone_DST" type="cybox:StringObjectAttributeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Timezone_DST element specifies the time zone used by the system, taking daylight savings time (DST) into account.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Timezone_Standard" type="cybox:StringObjectAttributeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Timezone_Standard element specifies the time zone used by the system, wihtout taking daylight savings time (DST) into account.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total_Physical_Memory"
						type="cybox:UnsignedLongObjectAttributeType" nillable="true" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Total_Physical_Memory element specifies the total amount of physical memory present on the system, in bytes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Uptime" type="cybox:DurationObjectAttributeType">
						<xs:annotation>
							<xs:documentation>The Uptime element specifies the duration that represents the current amount of time that the system has been up.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Username" type="cybox:StringObjectAttributeType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Username element specifies the name of the user currently logged into the system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BIOS_Info_Type">
		<xs:annotation>
			<xs:documentation>The BIOS_Info_Type type specifies information about a system's BIOS.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BIOS_Date" type="cybox:DateObjectAttributeType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The BIOS_Date element specifies the date of the bios (e.g. the datestamp of the BIOS revision).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BIOS_Version" type="cybox:StringObjectAttributeType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The BIOS_Version element specifies the version of the BIOS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BIOS_Manufacturer"
				type="cybox:StringObjectAttributeType">
				<xs:annotation>
					<xs:documentation>The BIOS_Manufacturer element specifies the manufacturer of the BIOS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BIOS_Release_Date" type="cybox:DateObjectAttributeType">
				<xs:annotation>
					<xs:documentation>The BIOS_Release_Date element specifies the date the BIOS was released.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="BIOS_Serial_Number"
				type="cybox:StringObjectAttributeType">
				<xs:annotation>
					<xs:documentation>The BIOS_Serial_Number element specifies the serial number of the BIOS.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Network_Interface_List_Type">
		<xs:annotation>
			<xs:documentation>The Network_Interface_List_Type type specifies information about the network interfaces present on the system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Network_Interface" type="SystemObj:Network_Interface_Type"
				nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IP_Gateway_List_Type">
		<xs:annotation>
			<xs:documentation>The IP_Gateway_List_Type type specifies the IP Addresses of the gateways used by the system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IP_Gateway_Address" type="AddressObj:Address_Object_Type"
				nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Network_Interface_Type">
		<xs:annotation>
			<xs:documentation>The Network_Interface_Type type specifies information about a network interface, such as its MAC address.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Adapter" type="cybox:StringObjectAttributeType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Adapter element specifies the name of the network adapter used by the network interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="cybox:StringObjectAttributeType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Description element specifies the description of the network interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DHCP_Lease_Expires" type="cybox:DateTimeObjectAttributeType"
				nillable="true" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The DHCP_Lease_Expires element specifies the date/time that the DHCP lease obtained on the network interface expires.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DHCP_Lease_Obtained" type="cybox:DateTimeObjectAttributeType"
				nillable="true" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The DHCP_Lease_Obtained element specifies the date/time that the DHCP lease was obtained on the network interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DHCP_Server_List" type="SystemObj:DHCP_Server_List_Type" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The DHCP_Server_List element specifies the list of DHCP servers used by the network interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IP_Gateway_List" type="SystemObj:IP_Gateway_List_Type" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The IP_Gateway_List element specifies the list of IP Gateways used by the network interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IP_List" type="SystemObj:IP_Info_List_Type" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The IP_List element specifies the list of IP addresses used by the network interface.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MAC" minOccurs="0" maxOccurs="1"
				type="cybox:StringObjectAttributeType">
				<xs:annotation>
					<xs:documentation>The MAC element specifies the MAC or hardware address of the physical network card. Either a colon (':') or a dash ('-') may be used a separator between the octets. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IP_Info_List_Type">
		<xs:annotation>
			<xs:documentation>The IP_Info_List_Type type specifies a list of IP address/subnet mask pairs associated with a network interface.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IP_Info" type="SystemObj:IP_Info" nillable="true" minOccurs="1"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The IP_Info element specifies an IP Address/Subnet mask entry in the list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IP_Info">
		<xs:annotation>
			<xs:documentation>The IP_Info type specifies information about the IP address and its associated subnet mask used by a network interface.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IP_Address" type="AddressObj:Address_Object_Type" minOccurs="1"
				maxOccurs="1"/>
			<xs:element name="Subnet_Mask" type="AddressObj:Address_Object_Type" minOccurs="0"
				maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHCP_Server_List_Type">
		<xs:annotation>
			<xs:documentation>The DHCP_Server_List_Type type specifies a list of DHCP Servers, via their IP addresses.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DHCP_Server_Address" type="AddressObj:Address_Object_Type"
				nillable="true" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OS_Type">
		<xs:annotation>
			<xs:documentation>The OS_Type type specifies information about an operating system. It imports and extends the CPE_Specification_Type from the CybOX Common Types.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Common:CPE_Specification_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="Bitness" type="SystemObj:Bitness_Type">
						<xs:annotation>
							<xs:documentation>The Bitness element specifies the bitness of the operating system (i.e. 32 or 64).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Build_Number" type="cybox:StringObjectAttributeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Build_Number element specifies the build number of the operating system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="Environment_Variable_List"
						type="Common:Environment_Variable_List_Type">
						<xs:annotation>
							<xs:documentation>The Environment_Variable_List element specifies a list of environment variables present on the operating system.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Install_Date" type="cybox:DateObjectAttributeType"
						nillable="true" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Install_Date element specifies the date the operating system was installed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Patch_Level" type="cybox:StringObjectAttributeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Patch_Level element specifies the patch level of the operating system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Processor_Arch_Type">
		<xs:annotation>
			<xs:documentation>Processor_Arch_Type specifies CPU architecture types, via a union of the Processor_Arch_Enum type and the atomic xs:string type. Its base type is the CybOX Core BaseObjectAttributeType, for permitting complex (i.e. regular-expression based) specifications.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cybox:BaseObjectAttributeType">
				<xs:simpleType>
					<xs:union memberTypes="SystemObj:Processor_Arch_Enum xs:string"/>
				</xs:simpleType>
				<xs:attribute fixed="String" name="Datatype" type="cybox:DatatypeEnum"
					use="required">
					<xs:annotation>
						<xs:documentation>This attribute is optional and specifies the expected type for the value of the specified element.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Bitness_Type">
		<xs:annotation>
			<xs:documentation>Bitness_Type specifies CPU architecture bitness, via a union of the Bitness_Enum type and the atomic xs:string type. Its base type is the CybOX Core BaseObjectAttributeType, for permitting complex (i.e. regular-expression based) specifications.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cybox:BaseObjectAttributeType">
				<xs:simpleType>
					<xs:union memberTypes="SystemObj:Bitness_Enum xs:string"/>
				</xs:simpleType>
				<xs:attribute fixed="String" name="Datatype" type="cybox:DatatypeEnum"
					use="required">
					<xs:annotation>
						<xs:documentation>This attribute is optional and specifies the expected type for the value of the specified element.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="Processor_Arch_Enum">
		<xs:annotation>
			<xs:documentation>The Processor_Arch_Enum type is a (non-exhaustive) enumeration of computer processor architectures.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="x86-32"/>
			<xs:enumeration value="x86-64"/>
			<xs:enumeration value="IA-64"/>
			<xs:enumeration value="PowerPC"/>
			<xs:enumeration value="ARM"/>
			<xs:enumeration value="Alpha"/>
			<xs:enumeration value="SPARC"/>
			<xs:enumeration value="z/Architecture"/>
			<xs:enumeration value="eSi-RISC"/>
			<xs:enumeration value="MIPS"/>
			<xs:enumeration value="Motorola 68k"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Bitness_Enum">
		<xs:annotation>
			<xs:documentation>The Bitness_Enum type is an enumeration of word sizes that define classes of computer architectures.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="32"/>
			<xs:enumeration value="64"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
